In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data\\data.txt", comment="#", sep="\t")

In [10]:
df.columns

Index(['ID', '1 Avg (log2)', '2 Avg (log2)', '1 Standard Deviation',
       '2 Standard Deviation', '1 Expressed', '2 Expressed', 'Fold Change',
       'P-val', 'FDR P-val', 'Expressed in Both Conditions', 'Public Gene IDs',
       'Gene Symbol', 'Description', 'Chromosome', 'Strand', 'Group', 'Start',
       'Stop', 'SNU-449 control R1.sst-rma-gene-full.chp Signal',
       'SNU-449 control R2.sst-rma-gene-full.chp Signal',
       'SNU-449 control R3.sst-rma-gene-full.chp Signal',
       'SNU-449 KD R1.sst-rma-gene-full.chp Signal',
       'SNU-449 KD R2.sst-rma-gene-full.chp Signal',
       'SNU-449 KD R3.sst-rma-gene-full.chp Signal'],
      dtype='object')

In [15]:
df1 = df[['Gene Symbol', '1 Avg (log2)']]
df2 = df[['Gene Symbol', '2 Avg (log2)']]

In [ ]:
#3 kontrole in 3 KD = knockdown

In [21]:
df1.columns=['gene', 'value']
df2.columns=['gene', 'value']

df1.to_csv("data\\data_control.txt", index=False)
df2.to_csv("data\\data_kd.txt", index=False)

,ID,1 Avg (log2),2 Avg (log2),1 Standard Deviation,2 Standard Deviation,1 Expressed,2 Expressed,Fold Change,P-val,FDR P-val,...,Strand,Group,Start,Stop,SNU-449 control R1.sst-rma-gene-full.chp Signal,SNU-449 control R2.sst-rma-gene-full.chp Signal,SNU-449 control R3.sst-rma-gene-full.chp Signal,SNU-449 KD R1.sst-rma-gene-full.chp Signal,SNU-449 KD R2.sst-rma-gene-full.chp Signal,SNU-449 KD R3.sst-rma-gene-full.chp Signal
21443,TSUnmapped00000819.hg.1,12.46,12.56,0.11,0.18,T,T,-1.07,0.9546,0.9795,...,NaN,Coding,NaN,NaN,12.33,12.48,12.55,12.56,12.26,12.57
21444,TSUnmapped00000820.hg.1,6.13,6.10,0.49,0.11,T,T,1.01,0.2868,0.5438,...,NaN,Coding,NaN,NaN,5.98,6.16,6.91,5.96,6.17,6.11
21445,TSUnmapped00000821.hg.1,5.13,5.16,0.16,0.05,T,T,-1.02,0.7909,0.9029,...,NaN,Coding,NaN,NaN,5.14,4.96,5.29,5.21,5.11,5.17
21446,TSUnmapped00000822.hg.1,4.39,4.19,0.24,0.50,T,T,1.15,0.8343,0.9245,...,NaN,Coding,NaN,NaN,4.40,4.81,4.37,4.12,5.04,4.26
21447,TSUnmapped00000823.hg.1,6.61,6.13,0.22,0.24,T,T,1.40,0.0769,0.2569,...,NaN,Coding,NaN,NaN,6.63,6.23,6.60,5.91,6.39,6.12

In [13]:
df['Public Gene IDs']

0        NM_001005484; ENST00000335137; OTTHUMT00000003...
1        NM_152486; ENST00000341065; ENST00000342066; E...
2        NM_198317; ENST00000338591; ENST00000463212; E...
3        NM_001160184; NM_032129; ENST00000379407; ENST...
4        NM_005101; ENST00000379389; ENST00000624652; E...
                               ...
21443                                         NM_001312673
21444                                         NM_001312672
21445                                            NM_012149
21446                                            NM_012148
21447                                            NM_012146
Name: Public Gene IDs, Length: 21448, dtype: object